{% extends "base.html" %}

{% block head %}
    <title>About This Hack</title>
{% endblock %}

{% block body %}
        <div class="body-header">
          <h1>Welcome to Tosh.1</h1>
        </div>
        <div class="body-content">
          <p>
            This is a HackMIT hack, built frantically by the team of Bhaskar Balaji, Peter Mason, Steven Silverman, and Jackie Xu from October 4-5, 2014.
          </p>
          <p>
            Input a valid Bitcoin address in the box on the homepage and explore the wealth of transactions involving that address. Enjoy!
          </p>
        </div>
{% endblock %}