{% extends "base.html" %}

{% block head %}
    <title>The Everyman Blog</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='toggling.js') }}"></script>
{% endblock %}

{% block body %}
        <div class="body-header">
          <h1>The Everyman Blog</h1>
          <em>
            the WebDevWeeks sample blog
          </em>
        </div>
        <p>{{children}}</p>
        {% for entry in blogEntries %}
        <div class="blog-entry">
          <div class="entry-header">
            <div class="entry-title">
              {{entry.title}}
            </div>
            <div class="entry-metadata">
              <div class="entry-author">
                <p class="entry-author">{{entry.author}}</p>
              </div>
              <div class="entry-date">
                <p class="entry-date">{{ entry.date.strftime("%I:%M %p (UTC) %b %d, %Y") }}</p>
              </div>
            </div>
          </div>
          <div class="entry-content">
            <p class="entry-description">
              {{entry.text}}
            </p>
          </div>
          <div class="entry-toggle">
            <p>
              click here to show/hide
            </p>
          </div>
        </div>
        {% endfor %}
{% endblock %}