{% extends "base.html" %}

{% block head %}
    <title>Tosh.1</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='toggling.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='interface.js') }}"></script>
    <script type="text/javascript"> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <!--<script type="text/javascript" src="d3/d3.js"></script>-->
    


{% endblock %}

{% block body %}
        <div class="body-header">
          <h1>Tosh.1</h1>
          <em>
            An interactive Bitcoin exploration tool
          </em>
        </div>
        <p id="transaction">
          Root address:
        <input id="address" type="text">
        <button type="button" onclick="createGraph(document.getElementById('address').value)">Make me a graph!</button>
      </p>
      <img src="https://en.bitcoin.it/w/images/en/3/35/Bitcoin_euro.png" style="width:700px;height:700px">
{% endblock %}